body {
  font-family: sans-serif;
  margin: 0;
  font-weight: 200;
  background-image: linear-gradient(#6d918e, #10464c);
  text-align: center;

}

a {
  color: black;
  text-decoration: none;
}

.a_white{
  color: white;
  float: center;
  text-align: center;
  padding-right: 15px;
  padding-bottom: 1em;;
  padding-top: 1em;
  size: 2em;
}

.collapsible-header {
  background-color: #fff;
  color: black;
  cursor: pointer;
  padding-bottom: 1em;
  padding-top: 1em;
  text-indent: 1em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
  font-weight: 200;
}

.active, .collapsible-header:hover {
  background-color: #10464c;
  color: white;
  max-height: 1400 !important;

}


.collapsible_body {
  margin: 0;
  padding: 0;
  max-height:0;
  overflow: hidden;
  background-color: #10464c;
  /* background-image: linear-gradient(#10464c, #6d918e); */
  display: flex;
  width: 100%;
  flex-direction:column;
  justify-content: center;

}

.collapsible-icons {
  float: right;
  padding-right: 2.2em;
  letter-spacing: -1.1em;
}


.collapsible_body_content {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #000;
  border: none;
  margin: 0.5em;
  padding: 0.5em;
  width: 85%;
  align-self: center;
  transition: opacity 0.7s ease-out;
  -webkit-transition: opacity 0.7s ease-out;
}

.collapsible_body_pdf {
  border: none;
  margin: 0.5em;
  padding: 0.5em;
  width: 85%;
  align-self: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.7s ease-out;
  -webkit-transition: opacity 0.7s ease-out;
}


#wordsList {
  margin-top: 55px;
  list-style: none;
  padding: 0;
  transition: margin-top 0.5s;
  -webkit-transition: margin-top 0.5s;

}


.img_gebaerden, .img_metacom, .video_gebaerden {
  cursor: pointer;
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 300px;
}

.far {
  padding-right: 1em;
  font-size: 1.2em;
}


@media screen and (min-width: 800px) {

  .collapsible_body {
    flex-direction:row;
    flex-wrap: wrap;


  }
  .collapsible_body_content {
    max-width: 500px;
    display: flex;
  }

}
